apiVersion: 1

datasources:
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://alertmanager:9093
    isDefault: false
    editable: false
    jsonData:
      # Use Prometheus implementation since you're using Prometheus Alertmanager
      implementation: prometheus
      # Don't send Grafana alerts to this Alertmanager (it's for Prometheus alerts)
      handleGrafanaManagedAlerts: false
